*.o
*.out
*.exe
driver_functions_FJC/terraces/build/*
driver_functions_FJC/swath_profiles/build/*
driver_functions_Floodplains-Terraces/build/CMakeCache.txt
driver_functions_Floodplains-Terraces/build/CMakeFiles/*
driver_functions_Floodplains-Terraces/build/Makefile
driver_functions_Floodplains-Terraces/build/cmake_install.cmake
boost/*
build/*
tests/results/*
.pytest_cache
.cache
__pycache__
tests/fixtures/*.hdr
tests/fixtures/*.bil
